@charset "UTF-8";

.text-zone{
    display: flex;
    flex-direction: column;

    left: 8%;
    top: 250px;

    position: absolute;

    animation: slider 1s 2s forwards;
}

.text-zone h1{
    color: #fff;
    font-size: 60px;
    font-family: "Coolvetica";
    font-weight: 400;
}

.flat-button{
    display: inline-block;
    width: 198.52px;
    text-align: center;
    color: blueviolet;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 0;
    border: 1px solid blueviolet;
    margin-top: 30px;

    &:hover{
        background-color: blueviolet;
        color: #fff;
    }
}