

.contact-mock{
    align-items: center;
    justify-content: space-between;
}


.leaflet-container{
    width: 30vw;
    height: 33vw;
}

.map{
    margin: 0 8%;
}


.contact-column{
    display: flex;
    width: 31vw;
    height: 30vw;
    margin: 0 8%;
    flex-direction: column;
}

.title{
    display: flex;
    align-items: center;
    height: 130px;
}

.contact-column h1{
    font-family: "Coolvetica";
    color: #fff;
    font-size: 45px;
    font-weight: 100;
    margin-right: 50px;
}

.contact-column button{
    height: min-content;
    appearance: none;
    background: none;
    border: none;
}

.contact-column i{
    font-size: 30px;
    color: #fff;
}

.name{
    width: 15vw;
    height: 35px;
    margin-right: 1vw;
}

.email{
    width: 15vw;
    height: 35px;
}

.description{
    width: 31vw;
    height: 180px;
    margin-top: 1vw;
}

input{
    border-radius: 5px;
}