
.contact-mock{
    align-items: center;
    justify-content: space-between;
}


.leaflet-container{
    width: 30vw;
    height: 33vw;
}

.map{
    margin: 0 8%;
}


.contact-column{
    display: flex;
    width: 34vw;
    height: 30vw;
    margin: 0 8%;
    flex-direction: column;
}

.contact-column h1{
    font-family: "Coolvetica";
    color: #fff;
    font-size: 58px;
    font-weight: 100;
    margin-bottom: 60px;
}

label{
    color: #fff;
    font-size: 18px;
    font-family: "Fira sans", sans-serif;
    margin-bottom: 5px
}

.name{
    width: 15vw;
    height: 35px;
    margin-right: 4vw;
}

.email{
    width: 15vw;
    height: 35px;
}

.description{
    width: 34vw;
    height: 180px;
}

input{
    border-radius: 5px;
    padding: 5px 5px;
}