
.flex-footer {
    display: flex;
    flex-direction: column;

    text-align: right;
    margin-right: 30px;

    font-family: sans-serif;
    font-size: 14px;
    color: #fff;

    letter-spacing: 1px;

    position: fixed;
    z-index: 3;
    bottom: 5vh;
    right: 5vw;

    transition: 0.3s;

}

.flex-footer:hover{
    color: rgba(255, 44, 44);
    cursor: default;
}