@charset "UTF-8";

*{
    margin:0;
    padding:0;
}

@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}


@keyframes sliderTop{
    from{margin-left:43px}
    to{margin-left:0}
}

@keyframes sliderMid{
    from{margin-left: 165px;}
    to{margin-left:0}
}

@keyframes sliderBottom{
    from{margin-left:177.5px}
    to{margin-left:0}
}


@font-face{
    font-family: "Coolvetica";
    src: url("./coolvetica\ rg.otf");
}

body{
    background-color: black;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    will-change: contents;
    background-color: black;
    opacity: 0;
    transform-style: preserve-3d;
    position: relative;
    z-index: 1;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}


.container-for-content{
    max-width: 1290px;
    margin: auto;
    width: 100%;
}