@charset "UTF-8";

*{
    margin:0;
    padding:0;
}

footer{
    width: 100%;
    height: auto;
    background-color: #000;
}

#footer-text {
    /* margin: 50px; */
    padding:60px 80px 80px 80px;
}

#footer-top{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    color: #9a9a9a;
    text-align: center;
    /* margin-top: 20px; */
}



#adres{
    text-align: center;
}

#adres p{
    display:inline-block;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    margin: 30px 10px 10px 10px;
}

#tel{
    text-align: center;
}

#tel p{
    display:inline-block;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 10px 25px 10px;
}

#social-media{
    text-align: center;
    margin-bottom: 23px;
}

#social-media a{
    display: inline-flex;
    width: 40px;
    height: 25px;
    font-size: 25px;
    color: #fff;
    justify-content: center;
    padding: 7.5px 0;
    text-decoration: none;
    margin: 0 10px;
}

#social-media a:hover > i{
    transform: scale(1.4);
    transition: 0.5s;
}

#footer-bottom{
    width: auto;
    height: auto;
    margin: 0 auto;
}

#copyright{
    float: left;
    color: #9a9a9a;;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 20px;
}

.language{
    float: left;
    color:#9a9a9a;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.language a{
    color:#9a9a9a;
    text-decoration: none;
}


