@charset "UTF-8";

nav{
    width: 100vw;
    height: 80px;
    border-radius: 0 0 20px 20px;
    position: fixed;
    transition: 0.4s;
}

nav ul li{
    display: inline-block;
}

.logo{
    float: left;
    margin: 20px 0 0 8%;
    user-select: none;
}

.items-container{
    list-style-type: none;
    position: absolute;
    margin-top: 8px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.items{
    font-size: 15px;
    font-family: "Fira sans", sans-serif; 
    margin: 0 5px 0;  
    user-select: none;
}

.items a{
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: none;  
    padding: 15px 15px;
}

.items a:hover{
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
}

.items a:hover i{
    transform: scale(1.8);
    transition: 0.2s;
}

.items i{
    color: #fff;
    font-size: 17px;
}

.langs button{
    font-weight: 600;
    font-size: 15px;
    background: none;
    appearance: none;
    outline: none;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 15px 15px;
    position: relative;
}

.langs:hover .langs-content{
    display: block;
}

.langs-content{
    display: none;
    background-color: rgb(37, 37, 37);
    border-top: 2px solid rgb(255, 255, 255);
    right: -8px;
    position: absolute;
}

.langs-content p{
    padding: 8px 5px;
    border-bottom: 1px solid black;
}

.langs-content a{
    font-size: 14px;
    font-family: "Fira sans", sans-serif; 
    text-decoration: none;
    padding: 5px 130px 5px 20px;
    color: rgb(255, 255, 255);
}

.langs-content a:hover{
    background-color: black;
    padding: 5px 90px 5px 60px;
    transition: 0.2s;
}

.social{
    float: right;
    margin-right: 8%;
}

.social li{
    font-size: 15px;
    font-family: "Fira sans", sans-serif; 
    margin: 37px 5px 0;  
    user-select: none;
}

.social li a{
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: none;  
    border-radius: 20px;
    padding: 15px 20px;
}

.social li a:hover i{
    transform: scale(1.8);
    transition: 0.2s;
}

.social i{
    font-size: 19px;
}

.menu{
    float: right;
    margin-right: 8%;
}

.hamburger{
    background: none;
    margin: 33px 0 0 80px;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.hamburger div{
    width: 33px;
    height: 2px;
    margin-bottom: 5px;
    background-color: #fff;
    transform-origin: 0 0;
    transition: 0.4s;
    border-radius: 2px;
    position: relative;
    z-index: 1;
}

.hamburger:hover div:nth-child(2){
    transform: translateX(10px);
    background-color: rgb(81, 25, 185);
}

.menu.is-active .hamburger div:nth-child(1){
    transform: rotate(45deg) translate(0, -2px);
}

.menu.is-active .hamburger div:nth-child(3){
    transform: rotate(-45deg) translate(-3.5px, 5.5px);
}

.menu.is-active .hamburger div:nth-child(2){
    opacity: 0;
}

.menu.is-active .menu-content p{
    transform: translateX(0);
}

.menu-content p:nth-child(1){
    transform: translateX(110%);
    transition: 0.4s;
}

.menu-content p:nth-child(2){
    transform: translateX(110%);
    transition: 0.5s;
}

.menu-content p:nth-child(3){
    transform: translateX(110%);
    transition: 0.6s;
}

.menu-content p:nth-child(4){
    transform: translateX(110%);
    transition: 0.7s;
}

.menu-content p:nth-child(5){
    transform: translateX(110%);
    transition: 0.8s;
}

.menu-content{
    padding-top: 24px;
    width: 100%;
    position: absolute;
    right: 0;
    z-index: -1;
}

.menu-content p{
    font-weight: 500;
    font-size: 18px;
    font-family: "Fira sans", sans-serif; 
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px 0 0 15px;
    border-top: 0.5px solid rgb(29, 29, 29);
    border-bottom: 0.5px solid rgb(29, 29, 29);
}

.menu-content a{
    padding: 15px 400px 15px 7.5%;
    color: #fff;
    text-decoration: none;
}

.menu-content p:hover{
    background-color: rgb(29, 29, 29);
}

@media (min-width: 982px){
    .menu{display: none;}

}

@media (max-width: 982px){
    nav ul{
        display: none;
    }
}