@charset "UTF-8";

nav{
    display: flex;
    width: 100vw;
    height: 120px;
    border-radius: 0 0 20px 20px;
    position: fixed;
    top: 0px;
    flex-direction: "row";
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.347);
    z-index: 999;
}

nav ul li{
    display: inline-block;
}

.logo{
    user-select: none;
    margin-left: 8%;
}

.items-container{
    list-style-type: none;
}

.items{
    font-size: 15px;
    font-family: "Fira sans", sans-serif; 
    margin: 0 5px 0;  
    user-select: none;
}

.items a{
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: none;  
    padding: 15px 15px;
    border-radius: 15px;
}

.items a:hover{
    background-color: rgb(22, 22, 22);
}

.items a:hover i{
    transform: scale(1.8);
    transition: 0.2s;
}

.items i{
    color: #fff;
    font-size: 17px;
}

.langs button{
    width: 126.36px;
    font-weight: 600;
    font-size: 15px;
    text-align: left;
    background: none;
    appearance: none;
    outline: none;
    color: #fff;
    border: none;
    cursor: pointer;
    position: relative;
    padding: 15px;
    border-radius: 12px 12px 0 0;
}

.langs:hover .langs-content{
    display: block;
}

.langs:hover button{
    background-color: rgb(22,22,22);
}

.langs-content{
    display: none;
    font-weight: 600;
    font-size: 15px;
    background-color: rgb(22,22,22);
    border-radius: 0 0 12px 12px;
    position: absolute;
}

.langs-content p{
    padding: 12px 0;
}

.langs-content a{
    font-size: 14px;
    font-family: "Fira sans", sans-serif; 
    text-decoration: none;
    padding: 10px 60px 10px 15px;
    color: rgb(255, 255, 255);
}

.langs-content a:hover{
    padding: 10px 40px 10px 35px;
    transition: 0.2s;
}

.social{
    margin-right: 8%;
}

.social li{
    font-size: 15px;
    font-family: "Fira sans", sans-serif; 
    margin: 0 5px 0;  
    user-select: none;
}

.social li a{
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: none;  
    border-radius: 20px;
    padding: 15px 20px;
}

.social li a:hover i{
    transform: scale(1.8);
    transition: 0.2s;
}

.social i{
    font-size: 19px;
}

.menu{
    margin-right: 8%;
}

.hamburger{
    background: none;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.hamburger div{
    width: 33px;
    height: 2px;
    margin-bottom: 5px;
    background-color: #fff;
    transform-origin: 0 0;
    transition: 0.4s;
    border-radius: 2px;
    position: relative;
    z-index: 1;
}

.hamburger:hover div:nth-child(2){
    transform: translateX(10px);
    background-color: rgb(81, 25, 185);
}

.menu.is-active .hamburger div:nth-child(1){
    transform: rotate(45deg) translate(0, -2px);
}

.menu.is-active .hamburger div:nth-child(3){
    transform: rotate(-45deg) translate(-3.5px, 5.5px);
}

.menu.is-active .hamburger div:nth-child(2){
    opacity: 0;
}

.menu.is-active .menu-content p{
    transform: translateX(0);
}

.menu.is-active .lang-menu-items{
    transform: translateX(0);
}

.menu-content .menu-items:nth-child(1){
    transform: translateX(110%);
    transition: 0.4s;
}

.menu-content .menu-items:nth-child(2){
    transform: translateX(110%);
    transition: 0.5s;
}

.menu-content .menu-items:nth-child(3){
    transform: translateX(110%);
    transition: 0.6s;
}

.menu-content .menu-items:nth-child(4){
    transform: translateX(110%);
    transition: 0.7s;
}

.lang-menu-items:nth-child(1){
    border-radius: 15px 0 0 15px;
    text-indent: 7.5%;
    color: #fff;
    transform: translateX(110%);
    transition: 0.8s;
}

.lang-menu-items:nth-child(2){
    transform: translateX(110%);
    transition: 0.8s;
}

.menu-content{
    padding-top: 24px;
    width: 100%;
    position: absolute;
    right: 0;
    z-index: -1;
}

.menu-content p{
    font-weight: 500;
    font-size: 18px;
    font-family: "Fira sans", sans-serif; 
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px 0 0 15px;
    border-top: 0.5px solid rgba(29, 29, 29. 0.5);
    border-bottom: 0.5px solid rgba(29, 29, 29, 0.5);
}

.menu-content a{
    padding: 15px 0 15px 7.5%;
    color: #fff;
    text-decoration: none;
}

.menu-content p:hover{
    background-color: rgb(29, 29, 29);
}

.langs-menu{
    border-radius: 15px 0 0 15px;
}

.langs-menu-content p{
    background-color: rgb(29, 29, 29);
    border-radius: 0;
    border: none;
}

.langs-menu-content p:nth-child(1){
    border-radius: 0 0 0 0;
}

.langs-menu-content p:nth-child(2){
    border-radius: 0 0 0 15px;
}

.langs-menu-content p:hover{
    background-color: black;
}

.langs-menu.is-active .lang-menu-items:nth-child(1){
    background-color: rgb(29, 29, 29);
    border-radius: 15px 0 0 0;
}

.langs-menu-content{
    display: none;
}

.langs-menu.is-active .langs-menu-content{
    display: block;
}

@media (min-width: 982px){
    .menu{
        display: none;
    }
}

@media (max-width: 982px){
    nav ul{
        display: none;
    }
}